* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* #ece284; */
.page {
  --light: #008ec9;
  --middle: #5594dc;
  --dark: #020c29;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/***********************
CONTAINER
***********************/
.container {
  margin: 0 auto;
  width: 1300px;
}

@media (max-width: 1300px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}


/***********************
HEADER
***********************/
.header {
  height: 60px;
  background-color: var(--dark);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Header - Logo ***/
.logo-left {
  margin: 5px 0;
  width: 320px;
  height: 50px;
  background-image: url("../assets/svg/ivan.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-right {
  margin: 5px 0;
  width: 200px;
  height: 50px;
  text-align: right;
  background-image: url("../assets/svg/web-sockets.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


/***********************
MAIN
***********************/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 120px);
  background-color: var(--light);
  background-size: cover;
  background-repeat: no-repeat;
}

#messages {
  margin-left: 1em;
  list-style: none;
}

#form {
  display: flex;
}

input, label {
  display: block;
}

input {
  outline: none;
  border: none;
  background-color: black;
  color: #0F0;
  padding: 1em .5em;
  display: block;
  font-size: 1.5em;
  font-family: 'Consolas', monospace;
  flex: 1;
}

label {
  display: block;
  padding: 1em .5em;
  font-size: 1.5em;
}


/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Footer - Logo ***/
.footer-github {
  display: block;
  width: 400px;
  height: 50px;
  background-image: url("../assets/svg/2022frontend200tb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 5px 50px 5px 0;
  width: 150px;
  height: 50px;
  background-image: url("../assets/svg/neurocity_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
